
<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE html>
<html lang="en-US" xmlns="http://www.w3.org/1999/xhtml" ng-app="pencilblueApp">
<head>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
  <title>Jobs at Inclusive Jobs</title>

  <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no"/>

  <link rel="shortcut icon" href="img/favicon.png">

  <link rel="stylesheet" type="text/css" href="assets/bower_components/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="assets/bower_components/fontawesome/css/font-awesome.min.css">
  <link rel="stylesheet" type="text/css" href="assets/public/cms_base/version/935a51c32c21711dedacab4a6359b01c78d0912f/css/general_styles.css">
  <!-- <link rel="stylesheet" type="text/css" href=""> -->
  <link rel="stylesheet" type="text/css" href="assets/public/premium/css/premium_custom_styles.css">
  <link rel="stylesheet" type="text/css" href="css/main.css">
  <script type="text/javascript" src="assets/public/cms_base/version/935a51c32c21711dedacab4a6359b01c78d0912f/compiled_bower/required_bower_scripts.min.js"></script>
</head>
<body id="premium-body" ng-controller="PencilBlueController">


  <div id="src-tracking-loader" ng-controller="SourceTrackingFrontController"></div>

  <!-- Header -->
  <header id="back-top">


    <!-- Top navbar -->
    <section class="top-navbar">

      <!-- Container -->
      <div class="container">
        <!-- Navbar brand top -->
        <div class="navbar-brand-top visible-sm visible-md">
          <div class="row navbar-brand-row">

            <div class="col-xs-6 col-md-6">
              <!-- Logo -->
              <div class="logo-top">
                <a href="/" title="Inclusive Jobs Careers" alt="Inclusive Jobs Careers" class="hidden-sm">
                  <img src="img/site-logo.png" alt="Inclusive Jobs Careers" class="img-responsive">
                </a>

                <a href="/" title="Inclusive Jobs Careers" alt="Inclusive Jobs Careers" class="hidden-md hidden-lg">
                  <img src="img/logo768.png" alt="Inclusive Jobs Careers" class="img-responsive">
                </a>

              </div>
              <!-- End Logo -->
            </div>



          </div>
        </div>
        <!-- End Navbar brand top -->
      </div>
      <!-- End Container -->

      <!-- Navbar default -->
      <nav class="navbar navbar-default" role="navigation">
        <!-- Container -->
        <div class="container">

          <!-- Navbar mobile -->
          <div class="navbar-header">
            <!-- Navbar toggle -->
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar top-bar"></span>
              <span class="icon-bar middle-bar"></span>
              <span class="icon-bar bottom-bar"></span>
            </button>
            <!-- End Navbar toggle -->

            <!-- Logo desktop -->
            <a href="/" class="navbar-brand visible-lg" title="Inclusive Jobs Careers" alt="Inclusive Jobs Careers">
              <img src="img/site-logo.png" alt="Inclusive Jobs Careers" class="img-responsive">
            </a>
            <!-- End Logo desktop -->

            <!-- Logo mobile -->
            <a href="/" class="navbar-brand visible-xs" title="Inclusive Jobs Careers" alt="Inclusive Jobs Careers">
              <img src="img/site-logo-mobile.png" alt="Inclusive Jobs Careers" class="img-responsive">
            </a>
            <!-- End Logo mobile -->
          </div>
          <!-- End Navbar mobile -->

          <!-- Navbar collapse -->
          <div class="collapse navbar-collapse" id="navbar">
            <!-- Navbar nav -->
            <ul class="nav navbar-nav">
              <!-- Navigation -->
              <!-- ^navigation^ -->
              <li class="active">
                <a href="/" target="">
                  Home
                </a>
              </li>
              <li class="">
                <a href="/" target="">
                  Candidates
                </a>
              </li>
              <li class="">
                <a href="/" target="">
                  FAQs
                </a>
              </li>
              <li class="">
                <a href="/" target="">
                  Search Jobs
                </a>
              </li>

              <li class="">
                <a href="/" target="">
                  Volunteering & Training
                </a>
              </li>

              <li class="">
                <a href="/" target="">
                  Employers
                </a>
              </li>

              <li class="">
                <a href="/" target="">
                  About
                </a>
              </li>
              <li class="">
                <a href="/" target="">
                  Partners
                </a>
              </li>

              <li class="">
                <a href="/" target="">
                  Donate
                </a>
              </li>

              <li class="">
                <a href="/" target="">
                  Contact Us
                </a>
              </li>
              <!-- End Navigation -->
              <li class="visible-xs">
                <a href="/join" title="Join Our Talent Network">Join Our Talent Network</a>
              </li>
            </ul>
            <!-- End Navbar nav -->
          </div>
          <!-- End Navbar collapse -->
        </div>
        <!-- Container -->
      </nav>
      <!-- End Navbar default -->
    </section>
    <!-- End Top navbar -->
  </header>
  <!-- End Header -->

  <!-- Mobile search button -->
  <button type="button" class="navbar-toggle search-toggle-button-mobile collapsed hidden-xs" data-toggle="collapse" data-target="#SearchBoxMobile" aria-expanded="false" title="Search">
    <span class="sr-only">Toggle search</span>
    <i class="fa fa-search"></i>
  </button>
  <!-- End Mobile search button -->

  <!-- Landing page -->
  <section class="landing-banner">

    <!-- 4k banner -->
    <!-- <img src="img/banner.png" class="img-responsive full-wd visible-4kkk hidden-xs" alt="Home banner"> -->
    <!-- End 4k banner -->

    <!-- content banner -->

    <div class="container">

      <div class="row">
        <div class="col-xs-12 col-sm-5 col-sm-offset-7 col-md-4 col-md-offset-8 col-lg-4 col-lg-offset-8">
          <div class="text-banner">

            <a href="/join" class="btn btn-primary" title="Sign up for Job Alerts">Sign up for Job Alerts</a>
            <a href="/join" class="btn btn-primary" title="Click here for candidate support">Click here for candidate support</a>

          </div>
        </div>

        <div class="col-xs-12 col-sm-12 col-lg-12">


          <div class="text-banner-paragraph">
            <h2>Bringing jobs to people by removing barriers to employment, and<br class="visible-lg">  working towards homelessness prevention.</h2>
            <a href="/search" class="btn btn-primary green" title="Apply for Jobs">APPLY FOR JOBS</a>
            <a href="/search" class="btn btn-primary green" title="Advertise Jobs">ADVERTISE JOBS</a>

          </div>

        </div>


      </div>
    </div>


    <!-- end content banner -->
  </section>
  <!-- End Landing page -->

  <!-- Desktop Search -->
  <div class="search-desktop-home hidden-xs">
    <!-- Search box -->
    <div class="search-box">
      <div class="container">
        <div class="row">
          <div class="col-xs-12 col-sm-12">
            <div class="search-box-content">

              <!-- <h1>Search For Jobs</h1> -->

              <!-- Search bar -->
              <!-- ^tmp_elements=search_bar^ -->
              <script type="text/javascript">
              var countryDropdownEnabled = false;
              </script>

              <div id="search-bar" class="" ng-controller="SearchBarController">
                <div class="search-bar-element search-field-container">
                  <label for="search-keywords-field" class="hidden-xs search-bar-keyword-label label-text">Keyword:</label>
                  <input id="search-keywords-field" type="text" class="search-bar-keyword-field form-control" ng-model="keywordInput"
                  ng-keydown="checkKeywordKeydown($event)" placeholder="Job Title or Category">
                </div>
                <div class="search-bar-element search-field-container search-location-field">
                  <label for="search-location-field" class="hidden-xs search-bar-location-label label-text">Location:</label>

                  <input id="search-location-field" autocomplete="off" type="text" class="form-control search-bar-location-field " ng-keydown="checkLocationKeydown($event)"
                  ng-model="locationInput" ng-change="getSuggestions()" placeholder="City or Postal Code">
                  <ul id="suggestions" class="list-group autocomplete-list suggestions-list" role="list" ng-show="locationSuggestions.length > 0" ng-cloak>
                    <li ng-repeat="location in locationSuggestions" class="blockSpan list-group-item" ng-click="addToSelectedTags($index)"
                    ng-mouseover="$parent.selectedIndex=$index" ng-class="{active : selectedIndex===$index}">{{$parent.googlePlacesAutocompleteEnabled ? location.description : location}}</li>
                    <li ng-repeat-end class="autocompletefooter" ng-if="googlePlacesAutocompleteEnabled"><img src='/public/cms_base/img/powered_by_google_on_white.png' align='right'class='google-footer'></li>
                  </ul>
                </div>
                <div class="search-bar-element search-widget-container">
                  <a ng-href="{{searchUrl()}}" id="primary-search-button" target="_top" class="search-btn primary-button text-center label-text">Search</a>
                </div>
              </div>
              <!-- End Search bar -->

              <!-- View all jobs -->
              <p class="link-center">
                <a href="/search" class="view-all-jobs" title="View All Jobs at Inclusive Jobs">View All Jobs at Inclusive Jobs</a>
              </p>
              <!-- End View all jobs -->
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- End Search box -->
  </div>
  <!-- End Desktop Search -->

  <!-- Mobile Search -->
  <div id="SearchBoxMobile" class="search-mobile collapsed" aria-expanded="false">
    <!-- Search box -->
    <div class="search-box visible-xs">
      <div class="container">
        <div class="row">
          <div class="col-xs-12 col-sm-12">
            <div class="search-box-content">

              <!-- Search bar -->
              <!-- ^tmp_elements=search_bar^ -->
              <script type="text/javascript">
              var countryDropdownEnabled = false;
              </script>

              <div id="search-bar" class="" ng-controller="SearchBarController">
                <div class="search-bar-element search-field-container">
                  <label for="search-keywords-field" class="hidden-xs search-bar-keyword-label label-text">Keyword:</label>
                  <input id="search-keywords-field" type="text" class="search-bar-keyword-field form-control" ng-model="keywordInput"
                  ng-keydown="checkKeywordKeydown($event)" placeholder="Job Title or Category">
                </div>
                <div class="search-bar-element search-field-container search-location-field">
                  <label for="search-location-field" class="hidden-xs search-bar-location-label label-text">Location:</label>

                  <input id="search-location-field" autocomplete="off" type="text" class="form-control search-bar-location-field " ng-keydown="checkLocationKeydown($event)"
                  ng-model="locationInput" ng-change="getSuggestions()" placeholder="City or Postal Code">
                  <ul id="suggestions" class="list-group autocomplete-list suggestions-list" role="list" ng-show="locationSuggestions.length > 0" ng-cloak>
                    <li ng-repeat="location in locationSuggestions" class="blockSpan list-group-item" ng-click="addToSelectedTags($index)"
                    ng-mouseover="$parent.selectedIndex=$index" ng-class="{active : selectedIndex===$index}">{{$parent.googlePlacesAutocompleteEnabled ? location.description : location}}</li>
                    <li ng-repeat-end class="autocompletefooter" ng-if="googlePlacesAutocompleteEnabled"><img src='/public/cms_base/img/powered_by_google_on_white.png' align='right'class='google-footer'></li>
                  </ul>
                </div>
                <div class="search-bar-element search-widget-container">
                  <a ng-href="{{searchUrl()}}" id="primary-search-button" target="_top" class="search-btn primary-button text-center label-text">Search</a>
                </div>
              </div>
              <!-- End Search bar -->

              <!-- View all jobs -->
              <p class="link-center">
                <a href="/search" class="view-all-jobs" title="View All Jobs at Inclusive Jobs">View All Jobs at Inclusive Jobs</a>
              </p>
              <!-- End View all jobs -->
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- End Search box -->
  </div>
  <!-- End Mobile Search -->

  <!-- content landing page-home-info-->
  <section class="home-info">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-6">
          <div class="overview-info">
            <h3>Overview</h3>
            <p>Inclusive Jobs’ is a unique online job site and recruitment service dedicated to bringing job offervvet support, Manchester Homelessness Partnership and being part of Greater Manchester’s’ efforts to end and prevent homelessness by bringing candidates to employers who would like to make their recruitment processes, workforce more inclusive. We only work with business's that share our commitment to this and who are opening to looking at recruitment differntly.</p>

            <p>If you are looking for work and are unsure if this is for you - jsut ask! More information is on our <a href="/" class="text-green">candidates' page</a> or please get in touch and answer any questions you might have.</p>

            <p>See the <a href="/" class="text-green">support options</a> available to help you along the candidate journey to full employement such as help with ID, bank accounts, etc.</p>

            <p>If you are an employer who would like to post jobs on our site, please read the <a href="/" class="text-green">employers page.</a></p>

            <!-- menu-info-mobile-->
            <div class="menu-info-mobile visible-xs">
              <h3>The services we offer include: </h3>

              <ul class="list-home">

                <li class="items-home"><p><i class="fa fa-circle-o" aria-hidden="true"></i> Bringing more jobs to people who have experienced barriers to employment and homelessness (or at risk of)</p></li>

                <li class="items-home"><p><i class="fa fa-circle-o" aria-hidden="true"></i> 'Facilitating the 'candidate journey' and helping to gain employment opportunities</p></li>
                <li class="items-home"><p><i class="fa fa-circle-o" aria-hidden="true"></i>  Working with businesses to make their recruitment process more inclusive</p></li>
                <li class="items-home"><p><i class="fa fa-circle-o" aria-hidden="true"></i> Bringing more training, volunteering opportunities to our candidates</p></li>
                <li class="items-home"><p><i class="fa fa-circle-o" aria-hidden="true"></i> Sharing jobs & other opportunities with organisations who support our candidates</p></li>
                <li class="items-home"><p><i class="fa fa-circle-o" aria-hidden="true"></i> Awareness-raising sessions to help businesses better understand homelessness and inclusivity in employment</p></li>

              </ul>
            </div>
            <!-- end menu-info-mobile-->

            <!-- menu collapse desktop-->
            <div class="menu-info-desktop hidden-xs">
              <div id="read-more-1" class="collapse" aria-expanded="false">
                <div class="content-body">
                  <h2>The services we offer include:</h2>

                  <ul class="list-home">

                    <li class="items-home"><p><i class="fa fa-circle-o" aria-hidden="true"></i> Bringing more jobs to people who have experienced barriers to employment and homelessness (or at risk of)</p></li>

                    <li class="items-home"><p><i class="fa fa-circle-o" aria-hidden="true"></i> 'Facilitating the 'candidate journey' and helping to gain employment opportunities</p></li>
                    <li class="items-home"><p><i class="fa fa-circle-o" aria-hidden="true"></i>  Working with businesses to make their recruitment process more inclusive</p></li>
                    <li class="items-home"><p><i class="fa fa-circle-o" aria-hidden="true"></i> Bringing more training, volunteering opportunities to our candidates</p></li>
                    <li class="items-home"><p><i class="fa fa-circle-o" aria-hidden="true"></i> Sharing jobs & other opportunities with organisations who support our candidates</p></li>
                    <li class="items-home"><p><i class="fa fa-circle-o" aria-hidden="true"></i> Awareness-raising sessions to help businesses better understand homelessness and inclusivity in employment</p></li>
                  </ul>
                </div>
              </div>

              <a href="#read-more-1" data-target="#read-more-1" class="btn btn-success btn-read collapsed" data-toggle="collapse" aria-expanded="false"><span class="more">READ MORE</span> <span class="less">READ LESS</span></a>
            </div>
            <!-- End menu info desktop -->
          </div>
          <!--End overview-info -->
        </div>

        <!-- section image sidebar -->
        <div class="col-xs-12 col-sm-12 col-md-6">
          <div class="aside-image">
            <!-- <img src="img/aside-mobile.png" class="img-responsive visible-xs" alt="aside-image"> -->
            <img src="img/aside.png" class="img-responsive" alt="aside-image">

          </div>
        </div>
        <!-- end section image sidebar  -->

        <!-- featured careers section -->
        <div class="featured-careers">

          <div class="col-xs-12">
            <h2>Featured Careers</h2>
          </div>

          <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">

            <div class="fp-container">
              <img src="img/construction.png" class="img-responsive fp-img" alt="constrution">

              <div class="fp-buttom">
                <p>Constrution</p>
              </div>
            </div>



          </div>


          <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
            <div class="fp-container">
              <img src="img/hospitality.png" class="img-responsive fp-img" alt="hospitality">
              <div class="fp-buttom">
                <p>Hospitality</p>
              </div>
            </div>

          </div>

          <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
            <div class="fp-container">
              <img src="img/it.png" class="img-responsive fp-img" alt="it">
              <div class="fp-buttom">
                <p>Creative</p>
              </div>
            </div>
          </div>

          <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
            <div class="fp-container">
              <img src="img/administration.png" class="img-responsive fp-img" alt="administration">
              <div class="fp-buttom">
                <p>Administration</p>
              </div>
            </div>
          </div>

        </div>

        <!-- End featured careers section -->
      </div>
    </div>
  </section>
  <!-- End Home info -->

  <!-- Brands -->
  <section class="home-brands">

    <!-- slider mobile -->
    <div class="slider-mobile visible-xs visible-sm">
      <div class="container">
        <div class="row">
          <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
            <img src="img/slide1.png" class="img-responsive" alt="constrution">
          </div>

          <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
            <img src="img/slide2.png" class="img-responsive" alt="hospitality">
          </div>

          <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
            <img src="img/slide3.png" class="img-responsive" alt="it">
          </div>

          <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
            <img src="img/slide4.png" class="img-responsive" alt="administration">
          </div>

          <div class="col-xs-12 col-sm-3 col-sm-offset-2 col-md-3 col-lg-3">
            <img src="img/slide5.png" class="img-responsive" alt="administration">
          </div>

          <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
            <img src="img/slide6.png" class="img-responsive" alt="administration">
          </div>

          <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
            <img src="img/slide7.png" class="img-responsive" alt="administration">
          </div>
        </div>
      </div>
    </div>
    <!-- end slider mobile -->

    <!-- slider section desktop -->
    <div class="slider-desktop hidden-xs hidden-sm">
      <div class="container">
        <div class="row">
          <!-- <div class="col-xs-12"> -->

          <div id="carousel-brands" class="carousel slide" data-ride="carousel">
            <!-- Wrapper for slides -->
            <div class="carousel-inner" role="listbox">
              <div class="item active">
                <div class="col-xs-12 col-md-3 text-center">
                  <img src="img/slide1.png" class="img-responsive" alt="Brand">
                </div>

                <div class="col-xs-12 col-md-3 text-center">
                  <img src="img/slide2.png" class="img-responsive" alt="Brand">
                </div>

                <div class="col-xs-12 col-md-3 text-center">
                  <img src="img/slide3.png" class="img-responsive" alt="Brand">
                </div>

                <div class="col-xs-12 col-md-3 text-center">
                  <img src="img/slide4.png" class="img-responsive" alt="Brand">
                </div>
              </div>

              <div class="item">
                <div class="col-xs-12 col-md-4 text-center">
                  <img src="img/slide5.png" class="img-responsive" alt="Brand">
                </div>

                <div class="col-xs-12 col-md-4 text-center">
                  <img src="img/slide6.png" class="img-responsive" alt="Brand">
                </div>

                <div class="col-xs-12 col-md-4 text-center">
                  <img src="img/slide7.png" class="img-responsive" alt="Brand">
                </div>
              </div>
            </div>

            <!-- Controls -->
            <a class="control-arrows left" href="#carousel-brands" role="button" data-slide="prev">
              <i class="fa fa-chevron-left" aria-hidden="true"></i>
              <span class="sr-only">Previous</span>
            </a>

            <a class="control-arrows right" href="#carousel-brands" role="button" data-slide="next">
              <i class="fa fa-chevron-right" aria-hidden="true"></i>
              <span class="sr-only">Next</span>
            </a>

          </div>

        </div>
      </div>
    </div>

    <!-- </div> -->
    <!-- end slider section desktop-->

  </section>
  <!-- End Brands -->

  <!-- widget-->
  <section class="home-recent">
    <div class="container">
      <div class="row">
        <!--  RECENT JOBS-->
        <h2>Recent Jobs</h2>

        <div class="recent-bg">
          <div class="col-xs-12 col-md-6 ft-jobs">
            <div class="wrapper">
              <!-- <div class="head">
              <div class="left">
              <h2>Recent Jobs</h2>
            </div>
          </div> -->

          <div class="body">
            <job-widget>
              <!-- ngIf: !doneLoading -->
              <!-- ngIf: doneLoading -->
              <div ng-if="doneLoading" class="ng-scope" style="">
                <table class="table">
                  <tbody>
                    <!-- ngRepeat: job in data -->
                    <tr ng-repeat="job in data" class="ng-scope">
                      <td>
                        <a href="/job/J3V6YJ5ZZB4ZZ9F1RXP" class="job_widget_title ng-binding">Pre Litigation Paralegal</a>
                        <a href="/job/J3V6YJ5ZZB4ZZ9F1RXP" class="job_widget_location ng-binding">US-AZ-Mesa</a>

                      </td>
                    </tr>
                    <!-- end ngRepeat: job in data -->
                    <tr ng-repeat="job in data" class="ng-scope">
                      <td>
                        <a href="/job/J3S4RL6YH8RVNKPJ40N" class="job_widget_title ng-binding">Licensed Loan Officer</a>
                        <a href="/job/J3S4RL6YH8RVNKPJ40N" class="job_widget_location ng-binding">US-CA-Riverside</a>
                      </td>
                    </tr>
                    <!-- end ngRepeat: job in data -->
                    <tr ng-repeat="job in data" class="ng-scope">
                      <td>
                        <a href="/job/J3P0PQ6W05R6VJZKTRR" class="job_widget_title ng-binding">Data Entry</a>
                        <a href="/job/J3P0PQ6W05R6VJZKTRR" class="job_widget_location ng-binding">US-AZ-Phoenix</a>
                      </td>
                    </tr>
                    <!-- end ngRepeat: job in data -->
                    <tr ng-repeat="job in data" class="ng-scope">
                      <td>
                        <a href="/job/J3W1ZL6QN5J10V8W965" class="job_widget_title ng-binding">Mortgage Originator</a>
                        <a href="/job/J3W1ZL6QN5J10V8W965" class="job_widget_location ng-binding">US-AZ-Gilbert</a>
                      </td>
                    </tr>
                    <!-- end ngRepeat: job in data -->
                    <!-- end ngRepeat: job in data -->
                    <tr ng-repeat="job in data" class="ng-scope">
                      <td>
                        <a href="/job/J3W1ZL6QN5J10V8W965" class="job_widget_title ng-binding">sales</a>
                        <a href="/job/J3W1ZL6QN5J10V8W965" class="job_widget_location ng-binding">US-AZ-Gilbert</a>
                      </td>
                    </tr>
                    <!-- end ngRepeat: job in data -->
                  </tbody>
                </table>
              </div>
              <!-- end ngIf: doneLoading -->
            </job-widget>
          </div>
        </div>

        <div class="view-btn">
          <a href="/search" class="btn-join btn" title="VIEW ALL JOBS">VIEW ALL JOBS</a>
        </div>

      </div>


    </div>

    <!--  RECEIVE TEXT-->
    <div class="col-xs-12 col-md-6 green-background">
      <div class="receive-bg">
        <div class="receive-bg-fly hidden-md hidden-lg">
          <img src="img/fly.png" class="img-responsive" alt="fly">
        </div>
        <p class="text-fly"><span>RECEIVE</span> <span>JOB ALERTS</span> <span>HERE!</span></p>
        <div class="receive-bg-fly visible-md visible-lg">
          <img src="img/fly.png" class="img-responsive" alt="fly">
        </div>

        <p>Sign up to receive our latest job recommendations.<br class="visible-xs"> Whether you choose to apply or just leave your information, we look forward to staying connected with you.</p>

        <a href="/join" class="btn-join btn-color sign-here" title="SIGN UP HERE">SIGN UP HERE</a>
      </div>

    </div>

  </div>
</div>
</section>

<!-- <section class="green-background">
<div class="container">
<div class="row">
<div class="col-xs-12 col-md-7 green-background">
<div class="receive-bg">
<div class="receive-bg-fly">
<img src="img/fly.png" class="img-responsive" alt="fly">
</div>
<p><span>RECEIVE JOB<br class="visible-md-lg"></span><span>ALERTES HERE!</span></p>


<p>Sign up to receive our latest job recommendations. Whether you choose to apply or just leave your information, we look forward to staying connected with you.</p>

<a href="/join" class="btn-join btn-color sign-here" title="SIGN UP HERE">SIGN UP HERE</a>
</div>

</div>
</div>
</div>
</section> -->
<!-- end widget-->

<!-- Footer -->
<footer>
  <div class="container">
    <!-- logos footer -->
    <div class="row">
      <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-10 col-md-offset-1 col-lg-9 col-lg-offset-2">
        <div class="logos-footer">
          <img src="img/logo-footer1.png" class="img-responsive" alt="logo-footer">
          <img src="img/logo-footer2.png" class="img-responsive" alt="logo-footer">
          <img src="img/logo-footer3.png" class="img-responsive" alt="logo-footer">
          <img src="img/logo-footer4.png" class="img-responsive" alt="logo-footer">

          <!-- <img src="^media_src_brand-cb.png^" class="img-responsive brand-cb" alt="Career Builder"> -->

        </div>
      </div>

      <!-- End logos footer -->

      <!-- social footer -->
      <div class="col-xs-12 col-md-1 col-lg-1">
        <div class="social-icons">
          <ul class="list-inline social-items">
            <li>
              <a href="http://www.facebook.com/" class="" target="_blank" title="Facebook">
                <i class="fa fa-facebook" aria-hidden="true"></i>
              </a>
            </li>
            <li>
              <a href="https://twitter.com/" class="" target="_blank" title="Twitter">
                <i class="fa fa-twitter" aria-hidden="true"></i>
              </a>
            </li>
          </ul>
        </div>
      </div>
      <!-- end social footer -->
    </div>

    <!-- </div> -->

    <!-- footer nav -->
    <div class="row">

      <div class="col-xs-12">
        <div class="nav-footer">

          <ul class="footer-menu">
            <li><a href="/" title="Home">Home</a></li>
            <li><a href="/" title="Candidates">Candidates</a></li>
            <li><a href="/" title="FAQs">FAQs</a></li>
            <li><a href="/" title="Search Jobs">Search Jobs</a></li>
            <li><a href="/" title="Volumteering & Training">Volumteering & Training</a></li>
            <li><a href="/" title="Employers">Employers</a></li>
            <li><a href="/" title="About">About</a></li>
            <li><a href="/" title="Partners">Partners</a></li>
            <li><a href="/" title="Donate">Donate</a></li>
            <li><a href="/" title="Contact Us">Contact Us</a></li>

          </ul>
        </div>
      </div>
    </div>
    <!-- end footer nav -->

    <!-- copy -->
    <div class="row">
      <div class="col-xs-12 col-sm-12">
        <div class="copy">
          <p class="text-center text-copy"> Copyright© 2019 Inclusive Jobs. <br class="visible-xs">All Rights Reserved. </p>

          <p class="text-center"><a href="/privacy-policy" title="Privacy Policy"><span>Privacy Policy </span></a><a href="/terms-and-conditions" title="Terms and Conditions"><span class="hidden-xs"> | Terms and Conditions</span>
            <span class="visible-xs">Terms and Conditions</span></a></p>

            <!-- <p class="text-center"><a href="#">| Terms and Conditions</a></p> -->

          </div>
        </div>
      </div>
      <!-- end copy -->
    </div>
    <!-- end container -->

  </footer>
  <!-- End Footer -->

  <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDX9bDtzse0NKvnFFtJOY-G3DJMwSuZzHg&libraries=places"></script>
  <script type="text/javascript" src="assets/public/cms_base/version/935a51c32c21711dedacab4a6359b01c78d0912f/angular/scripts/tn_scripts.min.js"></script>




</body>

</html>
